@page "/judaica"
<PageTitle>Judaica</PageTitle>

<div style="max-height:50%; max-width:50%">
    <Carousel Crossfade="true" ShowIndicators="true">
        <CarouselItem Active="true">
            <Image Src="images/Rosh Hashanna.jpg" />
            <CarouselCaption>
                <h2>Rosh Hashannah Platter</h2>
                <p>Decorative Platter for Serving.</p>
            </CarouselCaption>
        </CarouselItem>
        <CarouselItem >
            <Image Src="images/Seder Plate.jpg" />
            <CarouselCaption>
                <h2>Seder Plate and Matzah Box</h2>
                <p>Personalized items for Pesach.</p>
            </CarouselCaption>
        </CarouselItem>
        <CarouselItem>
            <Image Src="images/Matzah Boxes.jpg" />
            <CarouselCaption>
                <h2>Matzah Boxes</h2>
                <p>Personalized Boxes</p>
            </CarouselCaption>
        </CarouselItem>
        <CarouselItem>
            <Image Src="images/Midot Box.jpg" />
            <CarouselCaption>
                <h2>Midot (Mussar) Box</h2>
                <p>Holds individual Midot and display easel.</p>
            </CarouselCaption>
        </CarouselItem>
        <CarouselItem>
            <Image Src="images/Omer Counter.jpg" />
            <CarouselCaption>
                <h2>Omer Counter</h2>
                <p>Uses wooden pegs to count the Omer from Pesach to Shavuot.</p>
            </CarouselCaption>
        </CarouselItem>
        <CarouselItem>
            <Image Src="images/Simchat Torah Earrings.jpg" />
            <CarouselCaption>
                <h2>Wooden Earrings</h2>
                <p>Meant to wear on Simchat Torah.</p>
            </CarouselCaption>
        </CarouselItem>
        <CarouselItem>
            <Image Src="images/Spice Box.jpg" />
            <CarouselCaption>
                <h2>Havdalah Spice Box</h2>
                <p>Made using kerf cuts to produce a circular item.</p>
            </CarouselCaption>
        </CarouselItem>
        <CarouselItem>
            <Image Src="images/Clock.jpg" />
            <CarouselCaption>
                <h2>Clock Prototype</h2>
                <p>Hebrew quote: בכל עת ובכל שעה</p>
            </CarouselCaption>
        </CarouselItem>
        <CarouselItem>
            <Image Src="images/Kippah Box.jpg" />
            <CarouselCaption>
                <h2>Kippah Box Prototype</h2>
                <p>Framework</p>
            </CarouselCaption>
        </CarouselItem>
    </Carousel>
</div>