@page "/misc"
<PageTitle>Miscellaneous</PageTitle>
<div style="max-width:75%;max-height: 75%">

    <Carousel Crossfade="true" ShowIndicators="true">
        <CarouselItem Active="true">
            <Image Src="images/Cribbage Board 2.jpg" />
            <CarouselCaption>
                <h2>Cribbage Board Interior</h2>
                <p>Contains dividers for cards and pegs.</p>
            </CarouselCaption>
        </CarouselItem>
        <CarouselItem>
            <Image Src="images/Cribbage Board 1.jpg" />
            <CarouselCaption>
                <h2>Cribbage Board Exterior</h2>
                <p>Customizable exterior.</p>
            </CarouselCaption>
        </CarouselItem>
        <CarouselItem>
            <Image Src="images/Earrings.jpg" />
            <CarouselCaption>
                <h2>Various Wooden Earring Designs</h2>
                <p></p>
            </CarouselCaption>
        </CarouselItem>
        <CarouselItem>
            <Image Src="images/South Hegman Lake.jpg" />
            <CarouselCaption>
                <h2>Wall Plaque</h2>
                <p>Map of South Hegman Lake in Northern MN.</p>
            </CarouselCaption>
        </CarouselItem>
    </Carousel>
</div>